#container {
  
}

#table{
  border-color: #8c8c8c;
  border-style: solid;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

#table-header{
  font-size: 20px;
  line-height: 26px;
  color: white;
  background-color: #8c8c8c;
  padding: 0;
}